<div class='stats'>
  {{stats.percentComplete}}% complete.
  {{stats.percentIncomplete}}% incomplete.
</div>
{{#each submissions}}
<div class='submission'>
  <h2>{{this.student_name}} </h2>
  {{#if this.status}}
    {{this.status}}
  {{else}}
    <div class='missing'>
      Missing!
    </div>
  {{/if}}
</div>
{{/each}}
